body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

.reset-btn {
  margin-left: auto;
}
ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background:transparent;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .main-row {
    display: flex;
  }

  .board-0,.board-1,.board-3,.board-4,.board-6,.board-7 {
    border-right: 5px solid;
    
  }

  .board-0,.board-1,.board-2,.board-3,.board-4,.board-5 {
    border-bottom: 5px solid;
  }